/* Bootstrap overrides and modifications. */
h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:hover {
    color: inherit;
}
h4 a:link,
h4 a:visited,
h4 a:active,
h4 a:hover {
    color: inherit;
}
.ellipsis-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.alert-normal {
    color: #999999;
    background-color: #eeeeee;
    border-color: #cccccc;
}

/* View styles */
.build-release-section + .build-release-section {
    margin-top: 40px;
}
.build-candidate-section + .build-candidate-section {
    margin-top: 5px;
}
.test-result-mark {
    font-weight: bold;
    width: 20px;
    text-align: left;
    display: inline-block;
}
.body-section {
    margin-top: 40px;
}
.inline-block {
    display: inline-block;
}
.run-status-section {
    margin-left: 30px;
}
