.svn
*.o*
*.dylib
*.dylib-*
*.a
*.a-*
FreeImage/Dist/*
CVS
.DS_Store
*.pyc
secrets.py
*/secrets.py
pdiff/CMakeCache.txt
pdiff/CMakeFiles/
pdiff/CPackConfig.cmake
pdiff/CPackSourceConfig.cmake
pdiff/Makefile
pdiff/cmake_install.cmake
pdiff/perceptualdiff
