[submodule "flask"]
	path = flask
	url = https://github.com/mitsuhiko/flask
[submodule "werkzeug"]
	path = werkzeug
	url = https://github.com/mitsuhiko/werkzeug.git
[submodule "jinja2"]
	path = jinja2
	url = https://github.com/mitsuhiko/jinja2.git
[submodule "itsdangerous"]
	path = itsdangerous
	url = https://github.com/mitsuhiko/itsdangerous
[submodule "flask-wtf"]
	path = flask-wtf
	url = https://github.com/ajford/flask-wtf.git
[submodule "flask-sqlalchemy"]
	path = flask-sqlalchemy
	url = https://github.com/mitsuhiko/flask-sqlalchemy
[submodule "sqlalchemy"]
	path = sqlalchemy
	url = https://github.com/zzzeek/sqlalchemy
[submodule "flask-login"]
	path = flask-login
	url = https://github.com/maxcountryman/flask-login
[submodule "flask-cache"]
	path = flask-cache
	url = https://github.com/thadeusb/flask-cache.git
[submodule "blinker"]
	path = blinker
	url = https://github.com/jek/blinker.git
	ignore = dirty
