<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>
    <body>
        <div class="container">

{% block header %}

{% if build %}
    <div class="row">
        <div class="span12">
            {% if release %}
                <h1><a href="{{ url_for('view_build', id=build.id) }}">Build: {{ build.name }}</a></h1>
            {% else %}
                <h1>Build: {{ build.name }}</h1>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if release %}
    <div class="row">
        <div class="span6">
            {% if run %}
                <h4 class="ellipsis-overflow"><a href="{{ url_for('view_release', id=build.id, name=release.name, number=release.number) }}">Release: {{ release.name }} #{{ release.number }}</a></h4>
            {% else %}
                <h4>Release: {{ release.name }} #{{ release.number }}</h4>
            {% endif %}
        </div>
        {% if not sha1sum %}
            <div class="span6 text-right">
                {% if release.status == 'good' %}
                    <h4 class="text-info">Status: {{ release.status|title }}</h4>
                {% elif release.status == 'bad' %}
                    <h4 class="text-error">Status: {{ release.status|title }}</h4>
                {% else %}
                    <h4>Status: {{ release.status|title }}</h4>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}


{% if run %}
    <div class="row">
        <div class="span7">
            {% if sha1sum %}
                <h4 class="ellipsis-overflow"><a href="{{ url_for('view_run', id=build.id, name=release.name, number=release.number, test=run.name) }}">Test: {{ run.name }}</a></h4>
            {% else %}
                <h4 class="ellipsis-overflow">Test: {{ run.name }}</h4>
            {% endif %}
        </div>
    </div>
{% endif %}

{% endblock header %}


{% block body %}
{% endblock body %}

        </div>

{% block belowbody %}
{% endblock belowbody%}

    </body>
</html>
