<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>
    <body>
        <div class="container">
            {% block body %}

This is my template!

Variable: "{{hello}}"

            {% endblock body %}
        </div>
    </body>
</html>
