{% extends 'email_base.html' %}

{% block body %}

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top">
            <div>
                <a href="{{ url_for('view_build', id=build.id, _external=True) }}" style="font-weight: bold; font-size: 24px; line-height: 32px; color: #000000; text-decoration: none; display: block;">Build: {{ build.name }}</a>
            </div>
            <div>
                <a href="{{ url_for('view_release', id=build.id, name=release.name, number=release.number, _external=True) }}" style="font-weight: bold; font-size: 18px; line-height: 32px; color: #000000; text-decoration: none; display: block;">Release: {{ release.name }} #{{ release.number }}</a>
            </div>
        </td>
        <td valign="top">
            <a href="{{ url_for('homepage', _external=True) }}"><img width="52" height="58" src="{{ url_for('static', filename='img/logo_big.png', _external=True) }}" border="0"></a>
        </td>
</table>

<div style="font-weight: bold; font-size: 18px; line-height: 32px">
    {% set alert_wrapper=False %}
    {% set inline_style=True %}
    {% set runs_total = stats_dict.runs_total %}
    {% set runs_complete = stats_dict.runs_complete %}
    {% set runs_successful = stats_dict.runs_successful %}
    {% set runs_failed = stats_dict.runs_failed %}
    {% set runs_baseline = stats_dict.runs_baseline %}
    {% set runs_pending = stats_dict.runs_pending %}
    {% include 'fragment_runs_complete.html' with context %}
    <br>
    {% include 'fragment_runs_failed.html' with context %}
</div>

<br>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
{% for run in run_list %}
    {% if run.status == 'diff_found' %}
        <tr>
            <td valign="top">
                <a href="{{ url_for('view_run', id=build.id, name=release.name, number=release.number, test=run.name, _external=True) }}" style="color: #08c; text-decoration: none; display: block;">{{ run.name }}</a>
            </td>
            <td width="25%" valign="top">
                {% set alert_wrapper=False %}
                {% set inline_style=True %}
                {% include 'fragment_run_status.html' with context %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
</table>

{% endblock body %}
