{% if run.status == 'diff_found' %}
    {% set run_status='error' %}
{% elif run.status == 'diff_not_found' %}
    {% set run_status='info' %}
{% elif run.status == 'needs_diff' %}
    {% set run_status='warning' %}
{% elif run.status == 'diff_approved' %}
    {% set run_status='info' %}
{% elif run.status == 'no_diff_needed' %}
    {% set run_status='normal' %}
{% elif run.status == 'failed' %}
    {% set run_status='error' %}
{% else %}
    {% set run_status='normal' %}
{% endif %}

{% if alert_wrapper %}
<div class="row-fluid status-panel status-panel-{{ run_status }} no-min-height">
    <div class="span3">
        <strong>
{% endif %}

<span class="text-{{ run_status }} test-result-mark" {% if inline_style -%}
    {%- if run.status == 'diff_found' -%}
        style="color: #b94a48"
    {%- elif run.status == 'diff_not_found' -%}
        style="color: #3a87ad"
    {%- endif -%}
{%- endif -%}
>
    {% if run.status in ('diff_found', 'failed') %}
        X
    {% elif run.status == 'diff_not_found' %}
        &#x2713;
    {% elif run.status == 'diff_approved' %}
        &#x2713;
    {% elif run.status == 'needs_diff' %}
        ?
    {% else %}
        &ndash;
    {% endif %}
</span>
&nbsp;
<span>
    {% if run.status == 'diff_found' %}
        Diff found
        {%- if run.distortion %}:
            {{ '%.1f' % (run.distortion*100) + '%' }}
        {% endif %}
    {% elif run.status == 'diff_not_found' %}
        Same
    {% elif run.status == 'diff_approved' %}
        Diff found and approved
    {% elif run.status == 'needs_diff' %}
        Diff pending
    {% elif run.status == 'no_diff_needed' %}
        Diff not required
    {% elif run.status == 'failed' %}
        Run failed
    {% else %}
        Data pending
    {% endif %}
</span>

{% if alert_wrapper %}
        </strong>
    </div>
    <div class="span9 text-right ellipsis-overflow">
        {% if run.tasks %}
            {% set last_task=run.tasks[-1] %}
            {% if last_task.status == 'error' %}
                Failed after max attempts:
            {% elif last_task.status != 'done' and run.status == 'failed' %}
                Needs retry:
            {% elif last_task.status != 'done' and last_task.heartbeat %}
                Last status:
            {% endif %}
            {% if last_task.status != 'done' %}
                {{ last_task.heartbeat|default('', true) }}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
