{% if runs_failed %}
    {% set runs_status='error' %}
{% elif runs_successful %}
    {% set runs_status='success' %}
{% else %}
    {% set runs_status='normal' %}
{% endif %}

{% if runs_total %}
    {% if alert_wrapper %}
        <div class="alert alert-{{ runs_status }}">
    {% else %}
        <span class="text-{{ runs_status }}">
    {% endif %}

    {% if runs_failed == 1 %}
        1 failure
    {% elif runs_failed > 0 %}
        {{ runs_failed }} failures
    {% elif runs_successful > 0 %}
        All passing
    {% else %}
        Pending
    {% endif %}

    {% if alert_wrapper %}
        </div>
    {% else %}
        </span>
    {% endif %}
{% endif %}
