<div id="keyboard_shortcuts_dialog" class="dialog-container" style="display: none">
    <table class="dialog-wrapper">
        <tr>
            <td>
                <div class="dialog-inner">
                    <div class="dialog-close">&times;</div>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <h4>Keyboard shortcuts</h4>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                J
                            </div>
                            <div class="span9">
                                View next run
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                K
                            </div>
                            <div class="span9">
                                View previous run
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                U
                            </div>
                            <div class="span9">
                                Go up a level
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                O
                            </div>
                            <div class="span9">
                                Show the detail for this run
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                1
                            </div>
                            <div class="span9">
                                Go to the before image
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                2
                            </div>
                            <div class="span9">
                                Go to the diff image
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                3
                            </div>
                            <div class="span9">
                                Go to the after image
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                F
                            </div>
                            <div class="span9">
                                Flip between before, diff, and after images
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                Y
                            </div>
                            <div class="span9">
                                Approve the difference
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                N
                            </div>
                            <div class="span9">
                                Reject the difference
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                ?
                            </div>
                            <div class="span9">
                                Show this dialog
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
