{% extends 'base.html' %}

{% block description -%}

run description

{%- endblock description %}


{% block body %}

<div class="row">
    <div class="span10">
        URL or Path here
    </div>
    <div class="span2 text-right">
        <abbr title="Complete {{ release.created.strftime('%Y-%m-%dT%H:%MZ') }}">
            {{ run.created|timesince }}
        </abbr>
    </div>
    {#
        TODO: Who approved the diff
        TODO: Heartbeat associated with the diff process
     #}
</div>

<div class="row body-section">
    <div class="span12">
        {% set alert_wrapper=True %}
        {% include 'fragment_run_status.html' with context %}
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span7">
                <p class="inline-block">
                    {% if run.status == 'diff_found' %}
                        <form action="{{ url_for('view_run') }}" method="post" class="inline-block">
                            {{ run_form.csrf_token }}
                            {{ run_form.id }}
                            {{ run_form.name }}
                            {{ run_form.number }}
                            {{ run_form.test }}
                            {{ run_form.approve }}
                            <button type="submit" class="btn btn-primary">Approve difference</button>
                        </form>
                    {% elif run.status == 'diff_approved' %}
                        <form action="{{ url_for('view_run') }}" method="post" class="inline-block">
                            {{ run_form.csrf_token }}
                            {{ run_form.id }}
                            {{ run_form.name }}
                            {{ run_form.number }}
                            {{ run_form.test }}
                            {{ run_form.disapprove }}
                            <button type="submit" class="btn btn-danger">Disapprove difference</button>
                        </form>
                    {% endif %}
                </p>
            </div>
            <div class="span5 text-right">
                <p>
                    <a href="#" class="btn">&larr; Prev test</a>
                    <a href="#" class="btn">&thinsp;Next test &rarr;</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


{% block belowbody %}

<div class="container-fluid">

    <div class="row-fluid body-section">
        <div class="span4">
            <div class="row-fluid">
                <div class="span6">
                    <strong>Before</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        <a href="#">Visit</a>
                        {% if run.ref_log %}
                            &ndash;
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, path=run.name, type='before') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.ref_image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, path=run.name, type='before') }}"><img src="{{ url_for('download', sha1sum=run.ref_image) }}"></a>
                    {% else %}
                        No image
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span6">
                    <strong>Diff</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        {% if run.diff_log %}
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, path=run.name, type='diff') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.diff_image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, path=run.name, type='diff') }}"><img src="{{ url_for('download', sha1sum=run.diff_image) }}"></a>
                    {% else %}
                        No image
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
               <div class="span6">
                    <strong>After</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        <a href="#">Visit</a>
                        {% if run.log %}
                            &ndash;
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, path=run.name, type='after') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, path=run.name, type='after') }}"><img src="{{ url_for('download', sha1sum=run.image) }}"></a>
                    {% else %}
                        No image
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock belowbody%}
