{% extends 'base.html' %}

{% block description -%}

build description

{%- endblock description %}


{% block body %}

{% if release_name_list %}
    <div class="row">
        <div class="span12">
            <h4>Releases</h4>
        </div>
    </div>
    <div class="row body-section">
        <div class="span12">
            {% for release_name in release_name_list %}
                {% with candidate_list=release_dict[release_name] %}
                    <div class="row build-release-section">
                        <div class="span12">
                            <div class="build-release-first-row">
                                <div class="row">
                                    <div class="span2 ellipsis-overflow">
                                        {{ release_name }}
                                    </div>
                                    <div class="span2">
                                        {% if candidate_list|length == 1 %}
                                            1 candidate
                                        {% elif candidate_list|length > 1 %}
                                            {{ candidate_list|length }} candidates
                                        {% else %}
                                            No candidates
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% for candidate in candidate_list %}
                                <div class="row build-candidate-section">
                                    <div class="span2 offset2">
                                        <a href="{{ url_for('view_release', id=build.id, name=candidate.name, number=candidate.number) }}" class="big-link">Attempt #{{ candidate.number }}</a>
                                    </div>
                                    <div class="span2">
                                        <abbr title="Created {{ candidate.created.strftime('%Y-%m-%dT%H:%MZ') }}">
                                            {{ candidate.created|timesince }}
                                        </abbr>
                                    </div>
                                    {% with runs_total, runs_complete, runs_successful, runs_failed = run_stats_dict[candidate] %}
                                        <div class="span2">
                                            {% include 'fragment_runs_complete.html' with context %}
                                        </div>
                                        <div class="span2">
                                            {% include 'fragment_runs_failed.html' with context %}
                                        </div>
                                    {% endwith %}
                                    <div class="span2" title="Current status">
                                        {% if candidate.status == 'good' %}
                                            <span>
                                                {{ candidate.status|title }}
                                            </span>
                                        {% elif candidate.status == 'bad' %}
                                            <span class="text-error">
                                                {{ candidate.status|title }}
                                            </span>
                                        {% else %}
                                            {{ candidate.status|title }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="row body-section">
        <div class="span12">
            <div class="alert alert-info alert-block">
                There are no releases for this build.
            </div>
        </div>
    </div>
{% endif %}

{% endblock body %}


{% block footer_left %}

<a href="{{ url_for('manage_api_keys', build_id=build.id) }}">Set up API keys</a>

{% endblock footer_left %}
