{% extends 'base.html' %}

{% block description -%}

image description

{%- endblock description %}

{% block body %}

<div class="row diff-section">
    <div class="span12">
        {{ file_type|title }}
        {% if image_file %}
            image
        {% elif log_file %}
            log
        {% elif config_file %}
            config
        {% endif %}
    </div>
</div>

{% endblock body %}


{% block belowbody %}

{% if image_file %}
    <div class="container-fluid body-section">
        <div class="row-fluid">
            <div class="span12 text-center">
                <img src="{{ url_for('download', sha1sum=sha1sum, build_id=build.id) }}" class="run-image">
            </div>
        </div>
    </div>
{% elif log_file or config_file %}
    <div id="artifact-iframe-container" class="body-section">
        <iframe src="{{ url_for('download', sha1sum=sha1sum, build_id=build.id) }}" class="artifact-iframe"></iframe>
    </div>
    <script>
        var body = $('#body-container');
        var bodyOffset = body.offset();
        var iframe = $('#artifact-iframe-container');
        iframe.css('top', bodyOffset.top + body.outerHeight(true));
    </script>
{% endif %}

{% endblock belowbody %}
