{% extends 'base.html' %}

{% block description -%}

run description

{%- endblock description %}


{% block body %}

<div class="row">
    <div class="span6">
        {# TODO: Put something useful here. #}
        {#
            TODO: Who approved the diff
            TODO: Heartbeat associated with the diff process
         #}
    </div>
    <div class="span6 text-right">
        <abbr title="Complete {{ run.created.strftime('%Y-%m-%dT%H:%MZ') }}">
            {{ run.created|timesince }}
        </abbr>
    </div>
</div>

<div class="row body-section">
    <div class="span12">
        {% set alert_wrapper=True %}
        {% include 'fragment_run_status.html' with context %}
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span7">
                <p class="inline-block">
                    {% if run.status == 'diff_found' %}
                        <form action="{{ url_for(request.endpoint) }}" method="post" class="inline-block">
                            {{ run_form.csrf_token }}
                            {{ run_form.id }}
                            {{ run_form.name }}
                            {{ run_form.number }}
                            {{ run_form.type }}
                            {{ run_form.test }}
                            {{ run_form.approve }}
                            <button type="submit" class="btn btn-primary">Approve difference</button>
                        </form>
                    {% elif run.status == 'diff_approved' %}
                        <form action="{{ url_for(request.endpoint) }}" method="post" class="inline-block">
                            {{ run_form.csrf_token }}
                            {{ run_form.id }}
                            {{ run_form.name }}
                            {{ run_form.number }}
                            {{ run_form.type }}
                            {{ run_form.test }}
                            {{ run_form.disapprove }}
                            <button type="submit" class="btn btn-danger">Reject difference</button>
                        </form>
                    {% endif %}
                </p>
            </div>
            <div class="span5 text-right">
                {% if previous_run %}
                    <a href="{{ url_for(request.endpoint, id=build.id, name=release.name, number=release.number, test=previous_run.name, type=file_type) }}" class="btn">&larr; Prev test</a>
                {% endif %}
                {% if next_run %}
                    <a href="{{ url_for(request.endpoint, id=build.id, name=release.name, number=release.number, test=next_run.name, type=file_type) }}" class="btn">&thinsp;Next test &rarr;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block run_detail %}{% endblock run_detail %}

{% endblock body %}


{% block belowbody %}

<div class="container-fluid">

    <div class="row-fluid body-section">
        <div class="span4">
            <div class="row-fluid">
                <div class="span6">
                    <strong>Before</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        {% if run.ref_url %}
                            <a href="{{ run.url }}" target="_blank">Visit</a>
                        {% endif %}
                        {% if run.ref_url and run.ref_config %}
                            &ndash;
                        {% endif %}
                        {% if run.ref_config %}
                            <a href="{{ url_for('view_config', id=build.id, name=release.name, number=release.number, test=run.name, type='before') }}">Config</a>
                        {% endif %}
                        {% if run.ref_config and run.ref_log %}
                            &ndash;
                        {% endif %}
                        {% if run.ref_log %}
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, test=run.name, type='before') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.ref_image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, test=run.name, type='before') }}"><img src="{{ url_for('download', sha1sum=run.ref_image, build_id=build.id) }}" class="run-image"></a>
                    {% else %}
                        No image
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span6">
                    <strong>Diff</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        {% if run.diff_log %}
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, test=run.name, type='diff') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.diff_image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, test=run.name, type='diff') }}"><img src="{{ url_for('download', sha1sum=run.diff_image, build_id=build.id) }}" class="run-image"></a>
                    {% else %}
                        None found
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
               <div class="span6">
                    <strong>After</strong>
                </div>
                <div class="span6 text-right">
                    <small>
                        {% if run.url %}
                            <a href="{{ run.url }}" target="_blank">Visit</a>
                        {% endif %}
                        {% if run.url and run.config %}
                            &ndash;
                        {% endif %}
                        {% if run.config %}
                            <a href="{{ url_for('view_config', id=build.id, name=release.name, number=release.number, test=run.name, type='after') }}">Config</a>
                        {% endif %}
                        {% if run.config and run.log %}
                            &ndash;
                        {% endif %}
                        {% if run.log %}
                            <a href="{{ url_for('view_log', id=build.id, name=release.name, number=release.number, test=run.name, type='after') }}">Log</a>
                        {% endif %}
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% if run.image %}
                        <a href="{{ url_for('view_image', id=build.id, name=release.name, number=release.number, test=run.name, type='after') }}"><img src="{{ url_for('download', sha1sum=run.image, build_id=build.id) }}" class="run-image"></a>
                    {% else %}
                        No image
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock belowbody%}
