{% extends 'base.html' %}

{% block description -%}

candidate description

{%- endblock description %}


{% block body %}

{% if run_list %}
    <div class="row">
        <div class="span12">
            <h4>Tests</h4>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            {% include 'fragment_runs_complete.html' with context %}
        </div>
        <div class="span6 text-right">
            {% if newest_run_time %}
                <abbr title="Updated {{ newest_run_time.strftime('%Y-%m-%dT%H:%MZ') }}">
                    {{ newest_run_time|timesince }}
                </abbr>
            {% endif %}
        </div>
    </div>
    <div class="row body-section">
        <div class="span12">
            {% set alert_wrapper=True %}
            {% include 'fragment_runs_failed.html' with context %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="inline-block">
                {% if release.status == 'reviewing' %}
                    <a href="#" class="btn btn-primary">Mark release as good</a>
                    <a href="#" class="btn btn-danger">Mark release as bad</a>
                {% elif release.status == 'good' or  release.status == 'bad' %}
                    <a href="#" class="btn">Mark release as reviewing</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row body-section">
        <div class="span12">
            {% for run in run_list %}
                <div class="row">
                    <div class="span9 ellipsis-overflow" title="Test name">
                        <a href="{{ url_for('view_run', id=build.id, name=release.name, number=release.number, test=run.name) }}">{{ run.name }}</a>
                    </div>
                    <div class="span3" title="Test status">
                        {% set alert_wrapper=False %}
                        {% include 'fragment_run_status.html' with context %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="span6">
            <div class="alert alert-info alert-block">
                There are no tests for this release candidate.
            </div>
        </div>
    </div>
{% endif %}

{% endblock body %}
