{% extends 'base.html' %}

{% block title -%}
Who am I? Debug user login
{%- endblock title %}

{% block page_title %}
    Who am I?
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h4>Debug user login</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        User ID:
    </div>
    <div class="col-md-4">
        {{ user.id }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        Email address:
    </div>
    <div class="col-md-4">
        {{ user.email_address }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        Created:
    </div>
    <div class="col-md-4">
        {{ user.created|timesince }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        Last seen:
    </div>
    <div class="col-md-4">
        {{ user.last_seen|timesince }}
    </div>
</div>

{% endblock body %}
