<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation=
         "http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet>
    <servlet-name>GcsExample</servlet-name>
    <servlet-class>
      com.google.appengine.demos.GcsExampleServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GcsExample</servlet-name>
    <url-pattern>/gcs/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PortOfFilesAPIGuestbookServlet</servlet-name>
    <servlet-class>
      com.google.appengine.demos.PortOfFilesAPIGuestbookServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortOfFilesAPIGuestbookServlet</servlet-name>
    <url-pattern>/guestbook/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
